/* Reset standaard marges en opvullingen */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Zorg voor volledige schermbedekking */
html, body, #root {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

/* Voorkom ongewenste scrollbars */
body {
  overflow: hidden;
}
