@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-turquoise {
    color: #02f3d2;
  }
  .bg-black {
    background-color: #000000;
  }
  .border-hollywood {
    border: 3px solid #ec0097;
  }
  .line-hollywood {
    background-color: #ec0097;
    height: 2px;
    position: absolute;
    transform-origin: center;
  }
}
